*.a
*.ko
*.o
*.pyc
*.so
*.stamp

.tmp_versions
.cache.mk
.*.cmd
*.mod.c
*.o.ur-safe
Module.symvers
modules.order

applications/dsp_cmd/dsp_cmd
applications/mas_mon/mas_mon
applications/mas_param/mas_param
applications/mas_var/mas_var
applications/mas_var/version.h
applications/maslog/maslog_now
applications/maslog/maslog_server
applications/mce_cmd/mce_cmd
applications/mce_jam/mce_jam
applications/mce_ramp/mce_ramp
applications/mce_status/mce_status
applications/mux_lock/rs_servo
applications/mux_lock/sq1servo
applications/mux_lock/sq1servo_all
applications/mux_lock/sq1servo_sa
applications/mux_lock/sq2servo
applications/psc_status/psc_status
applications/raw_acq/raw_acq
applications/testing/mce_state
applications/testing/peek

config2/*.cin
config2/*.cfg

include/mce_library.h

makefiles/Makefile.install
makefiles/Makefile.paths

python/mcelib/.build
python/mcelib/build
python/mcelib/_default_setup.py

scripts/91-mas.rules
scripts/mas
scripts/mas_make_card_id
scripts/mas_mknodes

swig/mce_library.py
swig/mce_library_wrap.c

Makefile
config.log
config.status
configure
defaults
repo_version.txt
autom4te.cache/
